/* grey.css */
:root {
    --background-color: #555555;
    --text-color: #bcbcbc;
    --header-footer-bg: #666666;
    --navbar-link-color: #cccccc;
    --navbar-link-hover-bg: #888888;
    --hover-bg: #999999;
    --hover-link-bg: #aaaaaa;
    --section-bg: #777777;
}

/* Base Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header,
footer {
    background-color: var(--header-footer-bg);
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
}

header h1 {
    font-size: 3em;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.navbar a {
    color: var(--navbar-link-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
    white-space: nowrap;
}

.navbar a:hover {
    background-color: var(--navbar-link-hover-bg);
}

.subscribe-link {
    position: relative;
    display: inline-block;
}

.subscribe-link:hover {
    background-color: var(--hover-bg);
}

.hover-links {
    display: none;
    position: absolute;
    background-color: var(--hover-bg);
    border-end-end-radius: 5px;
    padding: 10px;
    top: 100%;
    width: 91%;
    left: 0;
    white-space: nowrap;
    z-index: 10;
    min-width: 150px;
}

.subscribe-link:hover .hover-links {
    display: block;
}

.hover-links a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.hover-links a:hover {
    background-color: var(--hover-link-bg);
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    background-color: var(--section-bg);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
