/* simple-dark.css */
:root {
    --background-color: #2f3136;
    --text-color: #dcddde;
    --header-footer-bg: #202225;
    --navbar-link-color: #dcddde;
    --navbar-link-hover-bg: #5865f2;
    --hover-bg: #5865f2;
    --hover-link-bg: #7289da;
    --section-bg: #2f3136;
    --box-shadow-color: rgba(0, 0, 0, 0.2); /* Box shadow color */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    transition: background-color 0.3s, color 0.3s;
    color: var(--text-color);
}


header,
footer {
    background-color: var(--header-footer-bg);
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
}

header h1 {
    font-size: 3em;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.navbar a {
    color: var(--navbar-link-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
    white-space: nowrap;
}

.navbar a:hover {
    background-color: var(--navbar-link-hover-bg);
}

.subscribe-link {
    display: inline-block;
}

.subscribe-link:hover {
    background-color: var(--hover-bg);
}

.hover-links {
    display: none;
    position: absolute;
    background-color: var(--hover-bg);
    border-end-end-radius: 5px;
    padding: 10px;
    top: 100%;
    width: 91%;
    left: 0;
    white-space: nowrap;
    z-index: 10;
    min-width: 150px;
}

.subscribe-link:hover .hover-links {
    display: block;
}

.hover-links a {
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.hover-links a:hover {
    background-color: var(--hover-link-bg);
}

main {
    padding: 20px;
}

section {
    background-color: var(--section-bg);
}
